@import "_variables.scss";

@font-face {
  font-family: "FerroRosso";
  src: url("../fonts/FerroRosso.ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: $primaryBlue;
  color: white;
}

.App_header {
  // background-color: $darkBlue;
  background-image: url("../images/Desktop_Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  height: 20vmax;
  &_logo-title {
    display: inline;
    color: white;
    font-family: "FerroRosso";
  }
}
