@import "base/_variables";
@import "base/global";

// Module Stylings
@import "modules/body";
@import "modules/about.scss";
@import "modules/header";
@import "modules/content";
@import "modules/footer";
@import "modules/modal";

// Animal Crossing Styling
@import "actunes/index";

// JavaScript Shorts Styling
@import "widgets/index";
