.weatherIcon {
  background-color: ghostwhite;
  width: 2rem;
  padding: 5px;
  cursor: pointer;
  margin: 0.5em; }

@font-face {
  font-family: "FerroRosso";
  src: url("../fonts/FerroRosso.ttf"); }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #19424a;
  color: white; }

.App_header {
  margin-bottom: 3rem; }
  .App_header-banner {
    width: 100%;
    display: block; }
  .App_header_content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }
    .App_header_content-title {
      display: inline;
      color: white;
      font-family: "FerroRosso"; }
  .App_header-banner, .App_header_content {
    max-height: 30vmax;
    z-index: 1; }
