@define-mixin clearfix {
  ::after {
    content: "";
    clear: both;
    display: block; } }

@font-face {
  font-family: "FerroRosso";
  src: url("../fonts/FerroRosso.ttf"); }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #19424a;
  color: white; }

.App_header {
  margin-bottom: 3rem; }
  .App_header-banner {
    width: 100%;
    display: block; }
  .App_header_content {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -8rem; }
    @media (min-width: 640px) {
      .App_header_content {
        margin-top: -10.2rem; } }
    .App_header_content_logo {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center; }
      .App_header_content_logo-title {
        margin: 0;
        color: white;
        font-family: "FerroRosso";
        padding-left: 0.2rem; }
  .App_header_nav {
    display: none;
    background-color: rgba(0, 0, 0, 0.3); }
    @media (min-width: 640px) {
      .App_header_nav {
        display: block; } }
    .App_header_nav ul {
      float: right;
      margin-right: 1rem; }
      .App_header_nav ul li {
        margin-right: 10px; }
      .App_header_nav ul li:last-child {
        margin-right: 0; }
  .App_header-banner, .App_header_content {
    max-height: 30vmax;
    z-index: 1; }

.weatherIcon {
  background-color: ghostwhite;
  width: 2rem;
  padding: 5px;
  cursor: pointer;
  margin: 0.5em; }

.clock {
  position: relative;
  text-align: center;
  width: 20rem;
  margin: auto; }
  .clock img {
    width: 100%; }
  .clock_time {
    position: absolute;
    bottom: 12%;
    left: 14%;
    color: black;
    font-size: 3.5rem;
    -webkit-transform: rotate(24deg);
            transform: rotate(24deg); }

#weatherForm input {
  color: white;
  background-color: rgba(255, 255, 255, 0.1); }
