@font-face {
  font-family: "FerroRosso";
  src: url("../fonts/FerroRosso.ttf"); }

* {
  list-style: none; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  background-color: #19424a;
  transition: font-size 0.2s ease-in-out;
  font-size: 1.2rem; }
  @media (min-width: 600px) {
    body {
      font-size: 1.5rem; } }
  @media (min-width: 800px) {
    body {
      font-size: 1.75rem; } }
  @media (min-width: 1200px) {
    body {
      font-size: 2rem; } }

._title {
  font-family: "Slabo 27px", serif;
  font-size: 2.25rem;
  color: #fc674d; }
  @media (min-width: 600px) {
    ._title {
      font-size: 2.5rem; } }
  @media (min-width: 800px) {
    ._title {
      font-size: 2.75rem; } }
  @media (min-width: 1200px) {
    ._title {
      font-size: 2.5rem; } }

.--transparent {
  background-color: rgba(36, 93, 102, 0.4); }

.btn {
  cursor: pointer;
  margin-right: 0.5rem; }
  .btn:hover {
    background-color: #724d4b; }
  @media (min-width: 600px) {
    .btn {
      font-size: 1.25rem; } }
  @media (min-width: 800px) {
    .btn {
      font-size: 1.5rem; } }

.credits {
  padding: 2rem;
  border: double; }

.--wide {
  width: 80%; }

hr {
  width: 100%; }

.App {
  background: linear-gradient(180deg, #19424a 0%, #0e3136 100%); }
  @media (min-width: 800px) {
    .App {
      background: url("../images/texturedBG4.png"), linear-gradient(180deg, #19424a 0%, #0e3136 100%);
      transition: background-size 0.3s ease-in;
      background-size: 100%; } }

.App_content_about {
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media (min-width: 800px) {
    .App_content_about {
      padding: 0 3rem; } }
  .App_content_about h2 {
    flex-basis: 100%;
    margin-bottom: 0; }
  @media (max-width: 599px) {
    .App_content_about i {
      flex-basis: 100%; } }

.App_header-banner {
  width: 100%;
  display: block; }

.App_header_content {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -8rem; }
  @media (min-width: 600px) {
    .App_header_content {
      margin-top: -4.6rem; } }
  @media (min-width: 1200px) {
    .App_header_content {
      margin-top: -4.2rem; } }
  @media (min-width: 600px) {
    .App_header_content > .App_header_content_logo {
      display: none; } }

.App_header_content_logo {
  display: flex;
  align-items: center;
  justify-content: center; }
  .App_header_content_logo-title {
    margin: 0;
    color: white;
    font-family: "FerroRosso";
    padding-left: 0.3rem; }

.App_header_nav {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between; }
  @media (max-width: 599px) {
    .App_header_nav {
      box-shadow: none;
      justify-content: center;
      margin-top: 2rem; } }
  @media (min-width: 600px) {
    .App_header_nav {
      background-color: rgba(0, 0, 0, 0.3);
      padding: 0 1rem; } }
  @media (max-width: 599px) {
    .App_header_nav .App_header_content_logo {
      display: none; } }
  .App_header_nav .App_header_content_logo-icon {
    display: flex;
    width: 3rem; }
  .App_header_nav .App_header_content_logo-title {
    font-size: 3rem; }
  .App_header_nav .App_header_content_logo img {
    width: 100%;
    height: 100%; }
  .App_header_nav ul {
    float: right; }
    .App_header_nav ul li {
      margin-right: 10px;
      cursor: pointer; }
      .App_header_nav ul li:hover {
        text-shadow: 5px 5px 3px #fc674d; }
      @media (min-width: 800px) {
        .App_header_nav ul li {
          font-size: 1.5rem; } }
    .App_header_nav ul li:last-child {
      margin-right: 0; }

.App_header-banner, .App_header_content {
  max-height: 30vmax;
  z-index: 1; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.App_content_projects {
  margin-bottom: 2rem; }
  @media (min-width: 800px) {
    .App_content_projects {
      margin: 0 3rem; } }
  @media (min-width: 1200px) {
    .App_content_projects {
      font-size: 1.48rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .App_content_projects p {
        width: 100%; }
      .App_content_projects section {
        flex-basis: 47%;
        margin-bottom: 1rem; }
      .App_content_projects section:last-child {
        margin-bottom: 0; }
      .App_content_projects .App_content-title {
        flex-basis: 100%; } }
  .App_content_projects-title {
    margin: 1rem 0; }
  @media (min-width: 800px) {
    .App_content_projects-description {
      text-align: justify; } }
  .App_content_projects-modules {
    margin: 1rem auto 0;
    border: 2px solid rgba(0, 0, 0, 0.125);
    width: 80%;
    display: none;
    font-size: 1rem; }
    .App_content_projects-modules span {
      display: inline-block;
      padding-right: 0.3rem; }
      .App_content_projects-modules span:last-child {
        padding-right: 0; }

.App_content {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 95%;
  padding: 1rem 0;
  transition: width 0.3s ease-in-out, font-size 0.3s ease-in-out, background-color 0.3s ease-in-out; }
  @media (min-width: 800px) {
    .App_content {
      width: 80%;
      margin: auto;
      background-color: rgba(36, 93, 102, 0.8); } }
  .App_content-title {
    text-align: center;
    font-size: 2rem; }
    @media (min-width: 800px) {
      .App_content-title {
        font-size: 2.5rem; } }
    @media (min-width: 1200px) {
      .App_content-title {
        font-size: 3rem; } }

.App_footer {
  padding: 2rem 0;
  background-color: rgba(14, 49, 54, 0.9); }
  @media (min-width: 1200px) {
    .App_footer {
      font-size: 1.5rem; } }
  .App_footer .btn {
    margin-left: 1rem; }

.modal {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  max-height: 100%;
  color: #6fa0a8;
  background-color: #19424a; }
  .modal__close {
    z-index: 99;
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    -webkit-transform: scaleX(1.25);
            transform: scaleX(1.25);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    color: #fc674d; }
    .modal__close:hover {
      color: #19424a; }
  .modal > div {
    width: 100%;
    height: 100%;
    z-index: 3;
    padding-top: 5rem; }

.ACTunes_body {
  background-color: #19424a; }
  .ACTunes_body header img {
    margin-top: 1rem;
    width: 20rem; }
  .ACTunes_body .weatherIcon {
    background-color: ghostwhite;
    width: 2rem;
    padding: 5px;
    cursor: pointer;
    margin: 0.5em; }
  .ACTunes_body .clock {
    position: relative;
    text-align: center;
    width: 20rem;
    margin: auto; }
    .ACTunes_body .clock img {
      width: 100%; }
    .ACTunes_body .clock_time {
      position: absolute;
      bottom: 12%;
      left: 14%;
      color: black;
      font-size: 3.5rem;
      -webkit-transform: rotate(24deg);
              transform: rotate(24deg); }
  .ACTunes_body #player {
    background: whitesmoke;
    width: 25rem;
    margin: 0; }
  .ACTunes_body #weatherForm input {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    width: 20rem;
    text-align: center;
    display: block;
    margin: auto; }
  .ACTunes_body #weatherForm .btn {
    margin-top: 1rem; }
  .ACTunes_body .geo {
    color: black;
    padding: 0; }
  .ACTunes_body footer,
  .ACTunes_body .timeline {
    margin-top: 1rem; }
  .ACTunes_body footer {
    margin-bottom: 3rem; }
  .ACTunes_body .downloads {
    padding: 0; }
    .ACTunes_body .downloads select {
      display: block; }
    .ACTunes_body .downloads form {
      display: flex; }
    .ACTunes_body .downloads_album {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
    .ACTunes_body .downloads_title {
      flex-basis: 100%; }

#elevator {
  overflow-x: hidden; }
  @media (min-width: 800px) {
    #elevator i {
      width: 80%;
      display: block;
      margin: auto; } }
  #elevator #panel {
    height: 100%; }
    #elevator #panel img {
      position: relative;
      top: 0;
      z-index: 1;
      width: 20rem; }
      @media (min-width: 600px) {
        #elevator #panel img {
          width: 30rem; } }
      @media (min-width: 800px) {
        #elevator #panel img {
          width: 40rem; } }
      @media (min-width: 1200px) {
        #elevator #panel img {
          width: 50rem; } }
  #elevator #buttons {
    position: relative;
    list-style: none;
    z-index: 2;
    top: -17rem;
    left: 1rem; }
    @media (min-width: 600px) {
      #elevator #buttons {
        top: -25.4rem;
        left: 2.2rem; } }
    @media (min-width: 800px) {
      #elevator #buttons {
        top: -33.5rem;
        left: 3.3rem; } }
    @media (min-width: 1200px) {
      #elevator #buttons {
        top: -41.9rem;
        left: 4.4rem; } }
    #elevator #buttons,
    #elevator #buttons label {
      color: rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0);
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    #elevator #buttons input[type="checkbox"] {
      opacity: 1;
      pointer-events: initial;
      width: 1.5rem;
      height: 1.5rem; }
      @media (min-width: 600px) {
        #elevator #buttons input[type="checkbox"] {
          width: 1.8rem;
          height: 1.8rem; } }
      @media (min-width: 800px) {
        #elevator #buttons input[type="checkbox"] {
          width: 2.3rem;
          height: 2.3rem; } }
      @media (min-width: 1200px) {
        #elevator #buttons input[type="checkbox"] {
          width: 3rem;
          height: 3rem; } }
    #elevator #buttons > div {
      margin-bottom: 0.6rem; }
      @media (min-width: 600px) {
        #elevator #buttons > div {
          margin-bottom: 1.5rem; } }
      @media (min-width: 800px) {
        #elevator #buttons > div {
          margin-bottom: 2.3rem; } }
      @media (min-width: 1200px) {
        #elevator #buttons > div {
          margin-bottom: 3rem; } }
