@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content; } }

@define-mixin atMedium {
  @media (min-width: 800px) {
    @mixin-content; } }

@define-mixin atLarge {
  @media (min-width: 1200px) {
    @mixin-content; } }

@define-mixin clearfix {
  ::after {
    content: "";
    clear: both;
    display: block; } }

@font-face {
  font-family: "FerroRosso";
  src: url("../fonts/FerroRosso.ttf"); }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #19424a;
  color: white; }

.App_header {
  margin-bottom: 3rem; }
  .App_header-banner {
    width: 100%;
    display: block; }
  .App_header_content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }
    .App_header_content-title {
      display: inline;
      color: white;
      font-family: "FerroRosso"; }
  .App_header_nav ul {
    margin: auto; }
    @media (min-width: 530px) {
      .App_header_nav ul {
        float: right;
        margin-right: 1rem; }
        .App_header_nav ul li {
          margin-right: 10px; }
        .App_header_nav ul li:last-child {
          margin-right: 0; } }
  .App_header-banner, .App_header_content {
    max-height: 30vmax;
    z-index: 1; }

.weatherIcon {
  background-color: ghostwhite;
  width: 2rem;
  padding: 5px;
  cursor: pointer;
  margin: 0.5em; }

.clock {
  position: relative;
  text-align: center;
  width: 20rem;
  margin: auto; }
  .clock img {
    width: 100%; }
  .clock_time {
    position: absolute;
    bottom: 12%;
    left: 14%;
    color: black;
    font-size: 3.5rem;
    transform: rotate(24deg); }
