.App {
  background: linear-gradient(
    180deg,
    rgba($primaryBlue, 1) 0%,
    rgba($darkBlue, 1) 100%
  );

  @media #{$atMedium} {
    background: url("../images/texturedBG4.png"),
      linear-gradient(180deg, rgba($primaryBlue, 1) 0%, rgba($darkBlue, 1) 100%);

    transition: background-size 0.3s ease-in;
    background-size: 100%;
  }
}
