.App_header {
  &-banner {
    width: 100%;
    display: block;
  }

  &_content {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -8rem;

    @media #{$atSmall} {
      margin-top: -4.6rem;
    }
    @media #{$atLarge} {
      margin-top: -4.2rem;
    }

    & > &_logo {
      @media #{$atSmall} {
        display: none;
      }
    }
  }

  &_content_logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &-title {
      margin: 0;
      color: white;
      font-family: "FerroRosso";
      padding-left: 0.3rem;
    }
  }

  &_nav {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    @media #{$underSmall} {
      box-shadow: none;
      justify-content: center;
      margin-top: 2rem;
    }
    @media #{$atSmall} {
      background-color: rgba(0, 0, 0, 0.3);
      padding: 0 1rem;
    }

    & .App_header_content_logo {
      @media #{$underSmall} {
        display: none;
      }
      &-icon {
        display: flex;
        width: 3rem;
      }

      &-title {
        font-size: 3rem;
      }
      & img {
        width: 100%;
        height: 100%;
      }
    }

    ul {
      float: right;
      li {
        margin-right: 10px;
        cursor: pointer;
        &:hover {
          text-shadow: 5px 5px 3px $primaryOrange;
        }

        @media #{$atMedium} {
          font-size: 1.5rem;
        }
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }

  &-banner,
  &_content {
    max-height: 30vmax;
    z-index: 1;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
