.modal {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // padding-top: 3rem;

  z-index: 5;
  width: 100%;
  max-height: 100%;
  color: $lightBlue;
  background-color: rgba($primaryBlue, 1);

  &__close {
    z-index: 99;
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transform: scaleX(1.25);
    transform-origin: 100% 0;
    color: $primaryOrange;
    &:hover {
      color: $primaryBlue;
    }
  }

  & > div {
    width: 100%;
    height: 100%;
    z-index: 3;
    padding-top: 5rem;
  }
}
