.App_content_projects {
  margin-bottom: 2rem;
  @media #{$atMedium} {
    margin: 0 5rem;
  }
  &-title {
    margin: 1rem 0 !important;
  }

  &-description {
    @media #{$atMedium} {
      text-align: justify;
    }
  }

  &-modules {
    margin: 1rem auto 0;
    border: 2px solid rgba(0, 0, 0, 0.125);
    width: 80%;
    display: none;
    font-size: 1rem;
    span {
      display: inline-block;
      padding-right: 0.3rem;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
