@font-face {
  font-family: "FerroRosso";
  src: url("../fonts/FerroRosso.ttf");
}

* {
  list-style: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  background-color: $primaryBlue;

  transition: font-size 0.2s ease-in-out;
  font-size: 1.2rem;
  @media #{$atSmall} {
    font-size: 1.5rem;
  }
  @media #{$atMedium} {
    font-size: 1.75rem;
  }
  @media #{$atLarge} {
    font-size: 2rem;
  }
}

._title {
  font-family: $Slabo;
  font-size: 2.25rem;
  color: $primaryOrange;

  @media #{$atSmall} {
    font-size: 2.5rem;
  }

  @media #{$atMedium} {
    font-size: 2.75rem;
  }
  @media #{$atLarge} {
    //Adjust for Flexbox
    font-size: 2.5rem;
  }
}

.--transparent {
  background-color: rgba($ghostBlue, 0.4);
}

.btn {
  cursor: pointer;
  margin-right: 0.5rem;

  &:hover {
    background-color: $secondaryBrown;
  }

  @media #{$atSmall} {
    font-size: 1.25rem;
  }
  @media #{$atMedium} {
    font-size: 1.5rem;
  }
  @media #{$atLarge} {
    // font-size: 1.75rem;
  }
}

.credits {
  padding: 2rem;
  border: double;
}

.--wide {
  width: 80%;
}

hr {
  width: 100%;
}
