$lightBlue: #6fa0a8;
$ghostBlue: #245d66;
$primaryBlue: #19424a;
$darkBlue: #0e3136;
$secondaryBrown: #724d4b;
$primaryBrown: #9b726a;
$secondaryOrange: #ff8058;
$primaryOrange: #fc674d;

$underSmall: "(max-width: 599px)";
$atSmall: "(min-width: 600px)";
$atMedium: "(min-width: 800px)";
$atLarge: "(min-width: 1200px)";

$Slabo: "Slabo 27px", serif;
$Roboto: "Roboto", sans-serif;
